<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

            <div class="form-group text-left">
              <label for="energyID">ID Energia</label>
                <input formControlName="energyID" type="text" class="form-control">              
            </div>
          
            <div class="form-group text-left">
              <label for="units">unidades</label>
                <input formControlName="units" type="text" class="form-control">              
            </div>
          
            <div class="form-group text-left">
              <label for="value">valor</label>
                <input formControlName="value" type="number" step='any' class="form-control">              
            </div>
          
            <div class="form-group text-left">
              <label for="ownerID">ID Propietario</label>
                <input formControlName="ownerID" type="text" class="form-control">              
            </div>
          
            <div class="form-group text-left">
              <label for="ownerEntity">Entidad propietaria</label>
                  <textarea formControlName="ownerEntity" class="form-control" rows="3"></textarea>
            </div>
          
        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

            <div class="form-group text-left">
              <label for="energyID">ID Energia</label>
                <input [ngModel]="energyID"formControlName="energyID" type="text" class="form-control">              
            </div>
          
            <div class="form-group text-left">
              <label for="units">unidades</label>
                <input [ngModel]="units"formControlName="units" type="text" class="form-control">              
            </div>
          
            <div class="form-group text-left">
              <label for="value">valor</label>
                <input [ngModel]="value" formControlName="value" type="number" step='any' class="form-control">              
            </div>
          
            <div class="form-group text-left">
              <label for="ownerID">ID Propietario</label>
                <input [ngModel]="ownerID"formControlName="ownerID" type="text" class="form-control">            
            </div>
          
            <div class="form-group text-left">
              <label for="ownerEntity">Entidad propietaria</label>
                  <textarea [ngModel]="ownerEntity" formControlName="ownerEntity" class="form-control" rows="3"></textarea>            
            </div>
          
        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Estás seguro de que quieres eliminar este activo?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Energia</h1>
  <div class="row">  
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-hover">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="bc">ID Energia</th>

                <th class="bc">ID Propietario</th>
            
                <th class="bc">Entidad propietaria</th>
            
                <th class="bc">Unidades</th>
            
                <th class="bc">Valor</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">
            
                <td>{{asset.energyID}}</td>

                <td>{{asset.ownerID}}</td>
            
                <td>{{asset.ownerEntity}}</td>
            
                <td>{{asset.units}}</td>
            
                <td>{{asset.value}}</td>
                                    
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
