

<div class="container">	

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
	
	
  <div class="row">
      <h2> Transacción de Usuario a Usuario </h2>
  </div>

  <div class="row">
    <br>
  </div>

  <div class="row RR">
    <div *ngIf="transactionFrom" class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Ingrese la información de la transacción</strong></div>
        <div class="panel-body">
        <!--<p>Billing Period: 2:00 pm - 4:00 pm</p>-->
          <form [formGroup]="myForm">
            
            <p>Productor:           
              <select name="residents" formControlName="producerResidentID" >
                <option *ngFor="let resident of allResidents" value="{{resident.residentID}}">{{resident.residentID}}</option>
              </select>
              </p> 
              

              <p>Consumidor: 
              <select name="residents" formControlName="consumerResidentID" >
                <option *ngFor="let resident of allResidents" value="{{resident.residentID}}">{{resident.residentID}}</option>
              </select>
              </p>
              

            <p>Energía intercambiada (kwh): <input formControlName="energyValue" type="number" step='any' class="form-control inlineInput">
              </p>
            
            <!--<p>Tarifa: {{residentCoinsPerEnergy}} Precio / kwh 
            </p>-->
            <br>
            </form>
        </div>
      </div>
    </div>

    <div *ngIf="!transactionFrom" class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Transacción ejecutada</strong></div>
        <div class="panel-body">
        <!--<p>Billing Period: 2:00 pm - 4:00 pm</p>-->
          <form [formGroup]="myForm">
            <p>Transaction ID: {{transactionID}}</p>
            <br>
            <!-- p>Producer: {{producerResidentID.value}}</p> 
            <p>Energy Provided ID: {{energyProvidedID}}</p>
            <p>Coins Credited ID: {{coinsCreditID}}</p>             
           <br>
            <p>Consumer: {{consumerResidentID.value}}</p>           
            <p>Energy Received ID: {{energyReceivedID}}</p>
            <p>Coins Debited ID: {{coinsDebitID}}</p>             
           <br>
            <p>Energy exchanged: {{energyValue.value}}</p>
            <p>Coins exchanged: {{coinsValue.value}}</p-->
          </form>
        </div>
      </div>
    </div>

  </div>

  <div class="row">  
    <div *ngIf="transactionFrom" class="col-md-offset-4 col-md-4">
      <button (click)="execute(form);" type="button" class="btn btn-success" data-toggle="modal" >Ejecutar Transacción</button>	  
    </div>
  </div>

  <div class="row">
    <br>
    <br>
  </div>
	
		<div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-hover">
        <thead class="thead">
          <tr class="thead-cols">
            
                           
                <th class="bc">Nombre </th>
            
                <th class="bc">Generacion</th>  
               
						    <th class="bc">Precio de energia</th>
						
						
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resident of allResidents">
                      
            
                <td>{{resident.firstName}}</td>            
                <td>{{resident.lastName}}</td>               
						    <td>{{resident.cashValue}}</td>
                           
          
          </tr>
        </tbody>
      </table>
    </div>
  </div>	
   

	
	
</div>
