
<div class="modal fade" id="addResidentModal" tabindex="-1" role="dialog" aria-labelledby="addResidentModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addResidentModalLabel">Agregar Usuario</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
            <div class="form-group text-left">
              <label for="residentID">Usuario ID</label>
                <input formControlName="residentID" type="text" class="form-control">
                </div>      
            <div class="form-group text-left">
              <label for="firstName">Nombre Completo</label>  
                <input formControlName="firstName" type="text" class="form-control">          
            </div>
          
            <div class="form-group text-left">
              <label for="lastName">Tipo de generacion</label>  
                <input formControlName="lastName" type="text" class="form-control">          
            </div>

            <div class="form-group text-left">
              <label for="coinsValue">Saldo</label>  
                <input formControlName="coinsValue" type="text" class="form-control">          
            </div>

            <div class="form-group text-left">
              <label for="energyValue">Cantidad de energia(medida desde el medidor)</label>  
                <input formControlName="energyValue" type="text" class="form-control">          
            </div>

            <div class="form-group text-left">
              <label for="energyUnits">Unidades de energia</label>  
              
              <div>
              <select name="energyUnits" formControlName="energyUnits">
                <option value="kwh">kWh</option>                
              </select>
              </div>      
            </div>

            <div class="form-group text-left">
              <label for="cashValue">Precio del kw</label>  
                <input formControlName="cashValue" type="text" class="form-control">          
            </div>

            <div class="form-group text-left">
              <label for="cashCurrency">Moneda</label>  
              
              <div>
              <select name="cashCurrency" formControlName="cashCurrency">
                <option value="USD">USD</option>                
              </select>
              </div>        
            </div>

                
        </div>
        <div class="modal-footer">
          <button (click)="addResident(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Agregar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="updateResidentModal" tabindex="-1" role="dialog" aria-labelledby="updateResidentModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateResidentModalLabel">Actualizar</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
            <div class="form-group text-left">
              <label for="residentID">ID</label>
                <input [ngModel]="residentID"formControlName="residentID" type="text" class="form-control">            
            </div>          
            <div class="form-group text-left">
              <label for="firstName">Nombre completo</label>
                <input [ngModel]="firstName"formControlName="firstName" type="text" class="form-control">              
            </div>          
            <div class="form-group text-left">
              <label for="lastName">Tipo de generacion</label>
                  <textarea [ngModel]="lastName" formControlName="lastName" class="form-control" rows="3"></textarea>
            </div>
              
        </div>
        <div class="modal-footer">
          <button (click)="updateResident(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Agregar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteResidentModal" tabindex="-1" role="dialog" aria-labelledby="deleteResidentModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteResidentModalLabel">Eliminar</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteResident()">
        <div class="modal-body">
          Seguro que quieres eleminarlo?
        </div>
        <div class="modal-footer">
          <button (click)="deleteResident()" type="submit" class="btn btn-danger" data-dismiss="modal">Si</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>






<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <div class="row">
   
      <h1 class="heading">Usuarios </h1>
  </div>

 <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addResidentModal">Agregar usuario</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-hover">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="bc">ID</th>
            
                <th class="bc">Nombre </th>
            
                <th class="bc">Generacion</th>  

                <th class="bc">Saldo</th>  

                <th class="bc">Cantidad de energia</th>

                <th class="bc">Unidades de energia</th>

                <th class="bc">Precio</th>

                <th class="bc">Moneda</th>

                <th class="bc">Acciones</th>       
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resident of allResidents">
          
                <td>{{resident.residentID}}</td>
            
                <td>{{resident.firstName}}</td>
            
                <td>{{resident.lastName}}</td>

                <td>{{resident.coinsValue}}</td>

                <td>{{resident.energyValue}}</td>

                <td>{{resident.energyUnits}}</td>

                <td>{{resident.cashValue}}</td>

                <td>{{resident.cashCurrency}}</td>
           
            <td>

              <button (click)="getForm(resident.residentID);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateResidentModal">Actualizar</button>

              <button (click)="setId(resident.residentID);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteResidentModal">Borrar</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
